[tool.poetry]
name = "surepy"
version = "0.3.0"
description = "Library to interact with the flaps & doors from Sure Petcare."
authors = ["Ben Lebherz <git@benleb.de>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/benleb/surepy"
repository = "https://github.com/benleb/surepy"
documentation = "https://github.com/benleb/surepy"

keywords = ["cat", "surepetcare", "home-assistant"]

classifiers = [
    "Topic :: Software Development",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[dependencies]

[tool.poetry.dependencies]
python = "==3.*,>=3.8.0"
aiohttp = "^3.6.3"
async-timeout = "^3.0.1"
colorama = "^0.4.4"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
mypy = "^0.790"
isort = "^5.6.4"
flake8 = "^3.8.4"
pycodestyle = "^2.6.0"

[tool.poetry.scripts]
surepy = 'surepy.cli:cli'

[tool.isort]
balanced_wrapping = true
combine_as_imports = true
combine_star = true
line_length = 120
lines_after_imports = 2
lines_between_types = 1
order_by_type = true
use_parentheses = true
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0

[tool.black]
line-length = 120
target_version = ["py38"]
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
